*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","Titillium Web",sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #f6f6f6;
}

h1, h2, h3, h4{
    font-family: 'Righteous', sans-serif;
}

#NavBar{
    background-color: #ffffff;
    /* border-bottom: 1px solid gray; */
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Menu{
    display: flex;
    
}
.Menu h3{
    color: #a8a8a8;
    margin-left: 40px;
    cursor: pointer;
}
#Composition{
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
#Composition input, #Composition #BlogContent{
    border: none;
    outline: none;
    background: none;
    padding: 20px;
    width: 700px;
    font-size: 16px;
    /* border-radius: 7px; */
    /* box-shadow: 0px 0px 15px #c3c3c3bd; */
    margin-top: 20px;
    resize: none;
}

#Composition #TitleOfBlogInput{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
    text-transform: capitalize;
    /* padding: 0; */
}

#Composition .TitleOfBlog{
    border-bottom: 1px solid #a8a8a8;
    /* padding: 20px; */
    padding-bottom: 40px;
}

#Composition .TitleOfBlog p{
    padding-left: 20px;
    color: #646464;
}

#Composition #BlogContent{
    line-height: 30px;
    height: 700px;
    white-space: pre-line
    /* cursor: pointer; */
}

#Composition img{
    width: 100%;
    margin: 20px 0;
    height: 360px;
    object-fit: cover;
}

#Edits{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-20px, -50%);
    /* background-color: #a8a8a8; */
    /* height: 50px;
    width: 50px; */
    display: flex;
    flex-direction: column;
}
#Edits > div{
    /* position: absolute; */
    top: 0;
    left: 0;
    /* height: 100%;
    width: 100%; */
}

#Edits .Icon{
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 15px #a8a8a8;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 15px;
    transition: .5s ease;
    cursor: pointer;
    font-family: 'Righteous', sans-serif;
    font-weight: bold;
}
#Edits .Icon:hover{
    box-shadow: 0px 0px 35px #a8a8a8;
    transform: scale(1.03);
}

#PostBTN{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background-color: rgb(0, 136, 199);
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: .2s ease;
}
#PostBTN:hover{
    background-color: rgb(0, 96, 141);
}

a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid gray;
}

#HomeBTN{
    cursor: pointer;
}


::-webkit-scrollbar{
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}
::-webkit-scrollbar-button{
    background: rgba(255,255,255,0.6);
    /* border-radius: 10px; */
}

::-webkit-scrollbar-corner{
    background: rgba(255, 255, 255, 0);
}

xmp{
    font-family: monospace;
    background: #1d1b31;
    color: white;
}